body{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ccc;
  font-family:Lato,sans-serif !important;
}
.container{
  background-color: #fff;
  padding: 30px;
  box-shadow: 8px 8px #777;
}
#map{
  width: 100%;
  height: 330px;
}
#map img{
  max-width: 8000px;
}
#searchbar{
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: 99;
}
#searchbar > .btn{
  margin-bottom: 11px;
}
.centered{
  text-align: center;
}
.logo{
  max-width:180px;
}
.greenovate-green{
  background: rgb( 161, 179, 27 );
}
.greenovate-cyan{
  background:  rgb( 77, 158, 235 );
  /* rgb( 70, 235, 145 ); */
}
.greenovate-orange{
  background: rgb( 255, 99, 8 );
  color: #fff;
}
.greenovate-yellow{
  background: rgb( 255, 209, 0 );
}
a{
  color: rgb( 77, 158, 235 );
}
.btn-success .greenovate-green{
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  background-color: rgb( 163, 212, 0 );
  *background-color: rgb( 153, 192, 0 );
  background-image: -moz-linear-gradient(top, #62c462, rgb( 153, 192, 0 ));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(rgb( 153, 192, 0 )));
  background-image: -webkit-linear-gradient(top, #62c462, rgb( 153, 192, 0 ));
  background-image: -o-linear-gradient(top, #62c462, rgb( 153, 192, 0 ));
  background-image: linear-gradient(to bottom, #62c462, rgb( 153, 192, 0 ));
  background-repeat: repeat-x;
  border-color: #51a351 rgb( 153, 192, 0 ) #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff99c000', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn .greenovate-green:hover,
.btn .greenovate-green:focus,
.btn .greenovate-green:active,
.btn .greenovate-green.active,
.btn .greenovate-green.disabled,
.btn .greenovate-green[disabled] {
  color: #ffffff;
  background-color: #99c000;
  *background-color: #99c000;
}
.btn .greenovate-green:active,
.btn .greenovate-green.active {
  background-color: #99c000 \9;
}
.address{
  text-transform: capitalize;
}
#adoptformtemp, #addformtemp{
  display: none;
}
.form-container{
  background-color: #fff;
  padding: 10px;
  border: 2px solid #000;
  z-index: 999;
}
.form-container button{
  margin-left: 8px;
}
.adopted{
  padding: 5px;
  text-align: center;
  width: 100px;
}
.capitalized{
  text-transform: capitalize;
}